main {
  display: flex;
  gap: 16px;
}

.card {
    background-color: #9de4fa;
    padding: 20px;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    color: #282828;
    font-size: 12px;
}

.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 10px
}


header {
    background-color: #ffffff;
    width: 2000px;
    height: 200px;
}

footer {
    width: 2000px;
    height: 200px;
    background-color: #ffffff;
}

body {
    background-color: #C4C4C4;
}